<script>
    export default {
        props: [ 'data' ],
        methods: {
            setShowArticleModal(data) {
                document.body.style.overflow = "hidden"

                this.$store.commit('setArticleModalData', { value: data })
                this.$store.commit('setShowArticleModal', { value: true })
            },
            onImageError(event) {
                event.target.src = '/no-image.jpg'
            }
        }
    }
</script>

<template>
    <div class="article-item-container">
        <img class="article-image" v-bind:src="`${data.urlToImage ?? '/no-image.jpg'}`" @error="onImageError($event)" /> 
        <div class="article-info-container">
            <p class="article-title" @click="setShowArticleModal(data)">{{ data.title ?? "Untitled" }}</p>
            <p class="article-author">{{ (data.author ?? null) === null ? null : data.author.includes("http") ? data.author.replace('http://','').replace('https://','').split(/[/?#]/)[0] : data.author }}</p>
            <p class="article-date">{{ (data.publishedAt ?? null) === null ? null : new Date(data.publishedAt).toDateString() }}</p>
        </div>
    </div>
</template>

<style scoped>
    p {
        margin: 0px;
        line-height: 1.3rem;
    }

    .article-item-container {
        background-color: rgba(255, 255, 255, 0.8);
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        border-radius: 5px;
    }

    .article-image {
        height: 200px;
        width: 100%;
        object-fit: cover;
        border-radius: 5px 5px 0px 0px;
    }

    .article-info-container {
        padding: 10px;
    }

    .article-title {
        font-weight: 700;
        cursor: pointer;
        margin-bottom: 10px;
    }

    .article-title:hover {
        text-decoration: underline;
        color: var(--vt-c-royal-blue);
    }

    .article-author {
        font-weight: 500;
        font-size: 14px;
    }

    .article-date {
        font-size: 12px;
        color: grey;
    }
</style>