<script setup>
    import ArticleItem from './ArticleItem.vue'
</script>

<script>
    export default {
        computed: {
            isLoading() {
                return this.$store.state.isLoading
            },
            articles() {
                return this.$store.state.articles
            },
            isTopNews() {
                return this.$store.state.isTopNews
            },
            totalResults() {
                return this.$store.state.totalResults
            }
        },
        methods: {
            loadMoreNews() {
                let query = []
                let isTopNews = true
                let url = `https://newsapi.org/v2/top-headlines?pageSize=12&page=${this.$store.state.page + 1}&language=en&apiKey=d5479e7e0f0c4ed4a38e66a4034bdfe1`

                if (this.$store.state.selectedCountry !== 'all' || this.$store.state.selectedCategory !== 'all') {
                    isTopNews = false
                    url = `https://newsapi.org/v2/top-headlines?${this.$store.state.selectedCountry !== 'all' ? `country=${this.$store.state.selectedCountry}&` : '' }${this.$store.state.selectedCategory !== 'all' ? `category=${this.$store.state.selectedCategory}&` : '' }${this.$store.state.keywords !== '' ? `q=${this.$store.state.keywords}&` : '' }pageSize=12&page=${this.$store.state.page + 1}&language=en&apiKey=d5479e7e0f0c4ed4a38e66a4034bdfe1`
                }
                else if (this.$store.state.keywords !== '') {
                    isTopNews = false
                    url = `https://newsapi.org/v2/everything?q=${this.$store.state.keywords}&pageSize=12&page=${this.$store.state.page + 1}&sortBy=publishedAt&language=en&apiKey=d5479e7e0f0c4ed4a38e66a4034bdfe1`
                }

                fetch(url)
                .then(response => response.json())
                .then(response => {
                    this.$store.commit('setPage', { value: this.$store.state.page + 1 })
                    this.$store.commit('setIsTopNews', { value: isTopNews })
                    this.$store.commit('setTotalResults', { value: response.totalResults ?? 0 })
                    this.$store.commit('setArticles', { value: [...this.$store.state.articles, ...(response.articles ?? [])] })
                })
                .catch(error => alert("ERROR: Failed to fetch news"));
            }
        }
    }
</script>

<template>
    <div class="main">
        <div class="content" v-bind:style="{ display: !isLoading ? 'block' : 'none' }">
            <div class="headline">{{ isTopNews ? "Top News" : `News Result(s) Found: ${totalResults}`}}</div>
            <br>
            <div class="articles-container">
                <ArticleItem v-for="article in articles" v-bind:data="article"/>
            </div>
            <br>
            <button @click="loadMoreNews()" v-bind:style="{ display: (articles.length >= 12 && articles.length < totalResults) ? 'block' : 'none' }">Load More</button>
        </div> 
    </div>
</template>

<style scoped>
    .main {
        width: 100%;
        min-height: calc(100vh - 122px);
        top: 122px;
        padding: 20px;
    }

    .content {
        max-width: 1024px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }

    .headline {
        width: 100%;
        padding: 0px 0px 4px;
        color: black;
        font-size: 18px;
        font-weight: 700;
        border-bottom: 2px solid black;
    }

    .articles-container {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 30px;
    }

    button {
        margin: 0px auto;
        cursor: pointer;
        background-color: var(--vt-c-royal-blue);
        color: white;
        border-radius: 5px;
        border: none;
        padding: 10px 15px;
        transition: all ease-in-out 0.2s;
    }

    button:hover {
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3)
    }

    @media only screen and (max-width: 1024px) {
        .articles-container {
            grid-template-columns: 1fr 1fr;
        }
    }

    @media only screen and (max-width: 820px) {
        .main {
            min-height: calc(100vh - 39px);
            top: 39px;
        }

        .headline {
            font-size: 16px;
        }
    }
    
    @media only screen and (max-width: 640px) {
        .articles-container {
            grid-template-columns: 1fr;
        }
    }
</style>