<script setup>
    import SearchIcon from './icons/IconSearch.vue'
    import XmarkIcon from './icons/IconXmark.vue'
</script>

<script>
    export default {
        computed: {
            countries() {
                return this.$store.state.countries
            },
            categories() {
                return this.$store.state.categories
            },
            showMobileSearch() {
                return window.innerWidth > 820 || this.$store.state.showMobileSearch
            }
        },
        methods: {
            setCountry(event) {
                this.$store.commit('setCountry', { value: event.target.value })
            },
            setCategory(event) {
                this.$store.commit('setCategory', { value: event.target.value })
            },
            setKeywords(event) {
                this.$store.commit('setKeywords', { value: event.target.value })
            },
            setShowMobileSearch() {
                this.$store.commit('setShowMobileSearch', { value: !this.$store.state.showMobileSearch })
            },
            searchNews() {
                this.$store.commit('setIsLoading', { value: true })

                let query = []
                let isTopNews = true
                let url = `https://newsapi.org/v2/top-headlines?pageSize=12&language=en&apiKey=d5479e7e0f0c4ed4a38e66a4034bdfe1`

                if (this.$store.state.selectedCountry !== 'all' || this.$store.state.selectedCategory !== 'all') {
                    isTopNews = false
                    url = `https://newsapi.org/v2/top-headlines?${this.$store.state.selectedCountry !== 'all' ? `country=${this.$store.state.selectedCountry}&` : '' }${this.$store.state.selectedCategory !== 'all' ? `category=${this.$store.state.selectedCategory}&` : '' }${this.$store.state.keywords !== '' ? `q=${this.$store.state.keywords}&` : '' }pageSize=12&language=en&apiKey=d5479e7e0f0c4ed4a38e66a4034bdfe1`
                }
                else if (this.$store.state.keywords !== '') {
                    isTopNews = false
                    url = `https://newsapi.org/v2/everything?q=${this.$store.state.keywords}&pageSize=12&sortBy=publishedAt&language=en&apiKey=d5479e7e0f0c4ed4a38e66a4034bdfe1`
                }

                fetch(url)
                .then(response => response.json())
                .then(response => {
                    this.$store.commit('setPage', { value: 1 })
                    this.$store.commit('setIsTopNews', { value: isTopNews })
                    this.$store.commit('setTotalResults', { value: response.totalResults ?? 0 })
                    this.$store.commit('setArticles', { value: response.articles ?? [] })
                    this.$store.commit('setShowMobileSearch', { value: false })
                })
                .catch(error => alert("ERROR: Failed to fetch news"))
                .finally(() => this.$store.commit('setIsLoading', { value: false }));
            },
            backToHome() {
                window.location = '/'
            }
        }
    }
</script>

<template>
    <div class="topbar">
        <div class="title">
            <p @click="backToHome()">Welcome to News App</p>
            <div class="mobile-search">
                <SearchIcon class="mobile-search-icon" @click="setShowMobileSearch()" v-bind:style="{ display: !showMobileSearch ? 'block' : 'none' }" />
                <XmarkIcon class="mobile-search-icon" @click="setShowMobileSearch()" v-bind:style="{ display: showMobileSearch ? 'block' : 'none' }" />
            </div>
        </div>
        <div class="search" v-bind:style="{ display: showMobileSearch ? 'block' : 'none' }">
            <div class="search-content">
                <select name="countries" id="countries" @change="setCountry($event)">
                    <option v-for="country in countries" v-bind:value="country.id">{{ country.label }}</option>
                </select>
                <select name="categories" id="categories" @change="setCategory($event)">
                    <option v-for="category in categories" v-bind:value="category.id">{{ category.label }}</option>
                </select>
                <input type="text" @change="setKeywords($event)" placeholder="Enter keywords" />
                <button @click="searchNews()">Search <SearchIcon class="search-icon" /></button>
            </div>
        </div>
    </div>
</template>

<style scoped>
    .topbar {
        width: 100%;
        position: fixed;
        z-index: 999;
    }
    
    .title {
        text-align: center;
        padding: 5px 20px;
        background-color: var(--vt-c-royal-blue);
        position: relative;
    }
    
    .title p {
        font-size: 24px;
        font-weight: 700;
        color: white;
        cursor: pointer;
    }

    .search {
        background-color: var(--vt-c-blue);
        padding: 20px;
    }

    .search-content {
        max-width: 1024px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    select {
        border-radius: 5px;
        padding: 8px 10px;
        outline: none;
        margin-right: 20px;
        min-width: 200px;
        border: none;
    }

    input {
        border-radius: 5px;
        padding: 9px 10px;
        outline: none;
        margin-right: 20px;
        min-width: 200px;
        border: none;
    }

    button {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--vt-c-royal-blue);
        color: white;
        height: 33px;
        padding: 0px 15px;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        transition: all ease-in-out 0.2s;
    }

    button:hover {
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3)
    }

    .search-icon {
        width: 15px;
        margin-left: 10px;
    }

    .mobile-search {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translate(0, -50%);
        display: none;
    }

    .mobile-search-icon {
        width: 15px;
        cursor: pointer;
    }

    @media only screen and (max-width: 820px) {
        .title p {
            font-size: 18px;
        }

        .search {
            display: none;
        }
        
        .search-content {
            flex-direction: column;
        }

        select,
        input {
            margin-right: 0px;
            width: 100%;
            margin-bottom: 10px;
        }

        button {
            width: 100%;
        }

        .mobile-search {
            display: block;
        }
    }
</style>