<script setup>
    import XmarkIcon from './icons/IconXmark.vue'
</script>

<script>
    export default {
        computed: {
            articleModalData() {
                return this.$store.state.articleModalData
            }
        },
        methods: {
            setShowArticleModal() {
                document.body.style.overflow = "auto"

                this.$store.commit('setArticleModalData', { value: null })
                this.$store.commit('setShowArticleModal', { value: false })
            },
            onImageError(event) {
                event.target.src = '/no-image.jpg'
            }
        }
    }
</script>

<template>
    <div class="modal-article-main">
        <div class="modal-article-container">
            <img class="modal-article-image" v-bind:src="`${articleModalData?.urlToImage ?? '/no-image.jpg'}`" @error="onImageError($event)" />

            <div class="modal-article-close-container">
                <XmarkIcon class="modal-article-close" @click="setShowArticleModal()" />
            </div>

            <div class="modal-article-info-container">
                <p class="modal-article-title">{{ articleModalData?.title ?? "Untitled" }}</p>
                <p class="modal-article-author">{{ (articleModalData?.author ?? null) === null ? null : articleModalData.author.includes("http") ? articleModalData.author.replace('http://','').replace('https://','').split(/[/?#]/)[0] : articleModalData.author }}</p>
                <p class="modal-article-date">{{ (articleModalData?.publishedAt ?? null) === null ? null : new Date(articleModalData.publishedAt).toDateString() }}</p>
                <br>
                <p class="modal-article-description">{{ (articleModalData?.description ?? "") !== "" ? articleModalData.description : (articleModalData?.content ?? "") !== "" ? articleModalData.content : "No description available" }}</p>
            </div>
        </div>
    </div>
</template>

<style scoped>
    .modal-article-main {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 9999;
    }

    .modal-article-container {
        max-width: 500px;
        max-height: 80vh;
        width: 100%;
        background-color: white;
        border-radius: 5px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .modal-article-close-container {
        width: 100%;
        position: absolute;
        top: 0px;
        padding: 10px 15px 15px;
        display: flex;
        justify-content: flex-end;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
        border-radius: 5px 5px 0px 0px;
        border: none;
    }

    .modal-article-close {
        width: 15px;
        cursor: pointer;
    }

    .modal-article-image {
        height: 300px;
        width: 100%;
        object-fit: cover;
        border-radius: 5px 5px 0px 0px;
    }

    .modal-article-info-container {
        padding: 10px;
    }

    .modal-article-title {
        font-weight: 700;
        cursor: pointer;
        margin-bottom: 10px;
    }

    .modal-article-author {
        font-weight: 500;
        font-size: 14px;
    }

    .modal-article-date {
        font-size: 12px;
        color: grey;
    }

    .modal-article-description {
        font-size: 14px;
    }

    @media only screen and (max-width: 820px) {
        .modal-article-container {
            max-height: 100%;
            height: 100%;
        }
    }
</style>