<script setup>
    import SearchSection from './components/SearchSection.vue'
    import Articles from './components/Articles.vue'
    import ViewArticleModal from './components/ViewArticleModal.vue'
</script>

<script>
    export default {
        computed: {
            showArticleModal() {
                return this.$store.state.showArticleModal
            }
        }
    }
</script>

<template>
    <SearchSection />

    <Articles />

    <ViewArticleModal v-bind:style="{ display: showArticleModal ? 'block' : 'none' }" />
</template>
